.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  gap: 2rem;
  th,
  td,
  tr {
    font-size: 1rem;
    padding: 5px;
    border: 2px solid white;
    
  }
  a {
    button {
        background-color: #faad2f;
      cursor: pointer;
      padding: 5px;
      border: transparent;
      width: 8rem;
      border-radius: 6px;
      font-weight: bold;
    }
  }
  span{
    cursor: pointer;
  }
}
